<div class="container">
    <div class="row">
        <p class="title">Product ING</p>  
        <div class="accordianContainer">
            <div class="panel-group" ng-repeat="x in productGroupList | filter: {productGroupId: '!0'}">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" href="#{{x.productGroupName}}" target="_self">{{x.productGroupName}}| {{x.product.length}}</a>
                    </h4>
                </div>
                <div id="{{x.productGroupName}}" class="panel-collapse collapse">
                    <div class="panel-body" ng-repeat="inner in x.product"><a href="#productData" target="_self" ng-click="selectedProduct($event)" id="{{inner.productId}}">{{inner.productName}}</a></div>
                </div>
                </div>
            </div> 
        </div>    

    </div>

    <div class="row" id="productData">
        <p class="title" class="col-xs-12">Product Details</p>  
        <div class="productDescContainer">
            <div class="productDetailHeader">
                <h4>Selected Product Group</h4>
                <span>Selected product Name</span>
            </div>
            <div class="productDetailDesc">
               <div class="col-sm-1 grid-heading">Product name</div>
               <div class="col-sm-1 grid-heading">Interest rate</div>
               <div class="col-sm-1 grid-heading">Percentage</div>
               <div class="col-sm-2 grid-heading">special</div>
               <div class="col-sm-2 grid-heading">put in and withdrawel</div>
               <div class="col-sm-1 grid-heading">minimal investment</div>
               <div class="col-sm-2 grid-heading">max investment</div>
               <div class="col-sm-2 grid-heading">duration</div>
       
               <div ng-controller="overviewCtrl">
                    <!-- <div ng-repeat="pl in productDataList"> -->
                       <div class="col-sm-1 grid-data">new</div>
                       <div class="col-sm-1 grid-data">new</div>
                       <div class="col-sm-1 grid-data">new</div>
                       <div class="col-sm-2 grid-data">new</div>
                       <div class="col-sm-2 grid-data">new</div>
                       <div class="col-sm-1 grid-data">new</div>
                       <div class="col-sm-2 grid-data">new</div>
                       <div class="col-sm-2 grid-data">new</div>
                   <!-- </div> -->
               </div>
            </div>
            <div class="otherGroupProducts">
                <h4>Other Group Products</h4>
                <ul>
                    <li><a href="#" target="_self">Product Name 1</a></li>
                    <li><a href="#" target="_self">Product Name 2</a></li>
                    <li><a href="#" target="_self">Product Name 3</a></li>
                </ul>
            </div>
        </div>
    </div>


</div>