ul {
    margin-top: 30px;
}

.product-bullet {
    list-style-type: decimal;
}

.accordianContainer {
    padding: 20px;
}

.panel-default>.panel-heading {
    background-color:  #ffa872;
}

.panel-title {
    color: #fff;
}   

.panel-body > a {
    color: #ff6200;
}